@import "tailwindcss";

:root {
  --border-color: #cecece;
  --background: #eeeeee;
  --foreground: #181411;
  --utils-scent-orange: #ff9900;
  --utils-scent-gray-01: #e6d9d1;
}

@theme inline {
  --color-border-color: var(--border-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-utils-scent-orange: var(--utils-scent-orange);
  --color-utils-scent-gray-01: var(--utils-scent-gray-01);
  --font-sans: var(--font-dm-sans);
  --font-serif: var(--font-pt-serif);
}
@layer utilities {
  .RichText h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .RichText h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  .RichText h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .RichText h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .RichText h5 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .RichText h6 {
    font-size: 1rem;
    font-weight: 700;
  }
  .RichText ul li {
    list-style: disc;
  }
  .RichText ul,
  .RichText ol {
    padding-left: 20px;
  }

  .RichText ol li {
    list-style: decimal;
  }
}
body {
  background: var(--background);
  font-family: var(--font-dm-sans);
  color: var(--foreground);
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
  font-weight: 200;
  letter-spacing: -0.02em;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  @apply rounded-lg border border-dashed border-white p-2 focus:border-amber-600 focus:outline-none;
}
